/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
//noinspection CssInvalidAtRule
//@tailwind base;

/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'),
  url('fonts/roboto-v20-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/roboto-v20-latin-100.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
  url('fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/roboto-v20-latin-regular.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}

//! set font variables
$font-family: 'Roboto', Fallback, 'Helvetica', sans-serif;
$font-thin: 100;
$font-regular: 400;

*::selection {
  background: $primary;
  color: $secondary;
}

html {
  font-size: 62.5%; // 1rem = 10px, 3.5rem = 35px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  font-family: $font-family;
  font-weight: $font-regular;
  font-size: 1.6rem;
  color: $primary;
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.3em;
}

.text-primary {
  color: $primary;
}

.stylistic-quote-mark {
  @include fade(4s, opacity);

  .marks {
    &:before {
      content: open-quote;
    }

    &:after {
      content: close-quote;
    }
  }
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
